.location {
  font-size: 55px;
  color: #343434;
  margin-bottom: -10px;
  margin-left: -3px;
  font-family: "Shrikhand", cursive;
}
.date {
  margin-bottom: 0px;
  margin-left: -5px;
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  color: #494747;
}
.update-time,
h3 {
  color: #666767;
  margin-bottom: 10px;
  font-size: 22px;
  font-family: "Open Sans Condensed", sans-serif;
}

.current-temp {
  font-size: 80px;
  position: relative;
  top: 29px;
  color: #343434;
}

.icon-temp {
  top: -80px;
  margin-top: -30px;
  margin-left: -35px;
}

.main-icon {
  height: 150px;
  width: 150px;
  margin-right: -15px;
  object-fit: cover;
}

.column-1,
.column-2 {
  list-style: none;
  padding: 0;
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 740px;
  margin: 30px auto;
}
.weather-app {
  max-width: 740px;
  margin: 10px auto;
  margin-top: 45px;
  padding: 20px;
  border: 1px solid gainsboro;
  border-radius: 7px;
  background: rgb(153, 153, 153);
  background: radial-gradient(
    circle,
    rgba(153, 153, 153, 1) 0%,
    rgba(208, 206, 192, 0.9780287114845938) 49%,
    rgba(136, 136, 136, 1) 100%
  );
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -5px;
  font-size: 25px;
  margin-left: 4px;
  color: #343434;
}

.fahrenheit-link,
.celsius-link {
  text-decoration: none;
  color: #343434;
  cursor: pointer;
  font-size: 20px;
  padding: 4px;
  border: 2px solid #343434;
  border-radius: 120px;
}
.fahrenheit-link:hover,
.celsius-link:hover {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.weather-temperature .active {
  color: #f2f2f1;
  font-weight: bolder;
  cursor: none;
  background-color: #ec6f4c;
  border: 2px solid #f2f2f1;
}

.daily-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
  font-family: "Encode Sans SC", sans-serif;
}

.daily-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.daily-forecast-temperature {
  font-size: 13px;
}

.daily-forecast-temperature-min {
  opacity: 0.5;
}

.search-button {
  color: white !important;
  text-transform: uppercase;
  background: none;
  padding: 5px;
  border-left: #999999;
  border: 2px solid white !important;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.3s ease 0s;
  height: 39px;
  width: 90px;
}
.search-button:hover {
  color: #bdbcb2 !important;
  background-color: white;
}

.form-control {
  width: 425px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.form-control:focus {
  box-shadow: none !important;
  border: slategrey !important;
}

form {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}
.btn-outline-light {
  width: 60px;
  color: white;
  margin-bottom: 0 !important;
  margin-left: 10px;
}
.btn-outline-light:hover {
  color: #999999 !important;
}
hr {
  display: block;
}

.search-form {
  margin-left: 5px;
  margin-right: 5px;
}

.overview {
  margin-top: 10px;
  font-family: "Encode Sans SC", sans-serif;
}
.details {
  font-family: "Encode Sans SC", sans-serif;
}
