.overview {
  margin-top: 10px;
}

.location {
  font-size: 55px;
  color: #3d3e3e;
  margin-bottom: -8px;
}
.date {
  margin-bottom: 0px;
}
.update-time,
h3 {
  color: #666767;
  margin-bottom: 10px;
  font-size: 16px;
}

.current-temp {
  font-size: 80px;
  position: relative;
  top: -16px;
}

.main-icon {
  height: 90px;
  vertical-align: top;
  margin-right: 13px;
}

.column-1,
.column-2 {
  list-style: none;
  padding: 0;
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 740px;
  margin: 30px auto;
}
.weather-app {
  max-width: 740px;
  margin: 10px auto;
  margin-top: 45px;
  padding: 20px;
  border: 1px solid gainsboro;
  border-radius: 7px;
  background: rgb(153, 153, 153);
  background: radial-gradient(
    circle,
    rgba(153, 153, 153, 1) 0%,
    rgba(208, 206, 192, 0.9780287114845938) 49%,
    rgba(136, 136, 136, 1) 100%
  );
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -60px;
}

.weather-temperature .active {
  color: black;
  font-weight: bolder;
  cursor: default;
}

a {
  text-decoration: none;
}

.daily-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.daily-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.daily-forecast-temperature {
  font-size: 13px;
}

.daily-forecast-temperature-min {
  opacity: 0.5;
}

.search-button {
  color: #999999 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 5px;
  border-left: #999999;
  border: 2px solid white !important;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.3s ease 0s;
  height: 39px;
  width: 90px;
}
.search-button:hover {
  color: #999999 !important;
  border: 2px solid #999999 !important;
  transition: all 0.3s ease 0s;
}

.form-control {
  width: 425px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.form-control:focus {
  box-shadow: none !important;
  border: slategrey !important;
}

form {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}
.btn-outline-light {
  width: 60px;
  color: white;
  margin-bottom: 0 !important;
  margin-left: 10px;
}
.btn-outline-light:hover {
  color: #999999 !important;
}
